@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;0,600;0,700;1,400&display=swap');
/* shared style */

* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: 0;
}

.section-title {
    font-weight: 700;
    font-size: 2.8rem;
    color: #131313;
}

.text-light-gray {
    color: #727272;
}

/* header style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;


}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 30px;
}

nav li a {
    text-decoration: none;
    color: #424242;
}



/* banner style */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}



.banner img {
    width: 100%;
    margin-top: 20px;
}


/* main style */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* Features style*/
.terms-container {
    display: flex;
    align-items: center;
}

.terms-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;

}

.terms-content {
    padding-left: 70px;
    padding-right: 70px;
}

.terms-title {
    font-size: 2.8rem;
}

.quick-list {
    color: #727272;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-weight: 700;
}

.features {
    color: #FF900E;
    font-weight: 700;
}

.terms-description {
    font-size: 1rem;
    font-weight: 400;
}

/* features section style */
.features-section {
    margin-top: 130px;
    display: flex;
    gap: 100px;

}

.features-section .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 5px;
}

.features-content .card {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.features-img img{
    height: 80%;
    margin-left: 90px;
}

.ten-years-badge {
    width: 342px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    padding: 40px;
    margin: 0;
    text-align: center;
    position: relative;
    bottom: 100px;
    

}
.ten-years-badge h2{
    font-size: 4rem;
    }
.ten-years-badge p{
font-size: 1.5rem;
}

/* fact section */
.fact-card-container {
    display: flex;
    justify-content: space-around;

}

.fact-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;

    text-align: center;
    padding: 30px;
}

.fact-card-container .card-starts {
    color: #424242;
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 10px;

}

.fact-card-container .card-title {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 5px;
}

/* sponsors style */
.sponsors {
    text-align: center;
}

.sponsors-img-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 20px;
    align-items: center;
}

.sponsors-img-container img {
    width: 165;

}








/* responsive media queries */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .terms-container,
    .fact-card-container,
    .sponsors-img-container,
    .features-section {
        flex-direction: column;
    }

    .terms-content,
    .fact-card-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .terms-img-container {
        grid-template-columns: 1fr;
    }
    .features-img{
        width: 10%;
        margin-left: 0;
    }
    .ten-years-badge{
        position: static;
        max-width: 300px;
    }

    .fact-card-container {
        gap: 20px;
    }

}

@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 20px;
    }

    nav,
    .terms-container,
    .sponsors-img-container,
    .features-section {
        flex-direction: column;
    }

}